.theme-color-33d685 a,
.theme-color-33d685 blockquote:before,
.theme-color-33d685 .contact-map .contact-info a:hover,
.theme-color-33d685 .interests-list i,
.theme-color-33d685 .input-field.used label,
.theme-color-33d685 .logo span,
.theme-color-33d685 #map .map-icon,
.theme-color-33d685 .nav-wrap .btn-mobile-nav,
.theme-color-33d685 .page-404 h2 span,
.theme-color-33d685 .post-box .post-title a:hover,
.theme-color-33d685 .post-single .post-title a:hover,
.theme-color-33d685 .post-comments .section-title,
.theme-color-33d685 .ref-box .person-speech:before,
.theme-color-33d685 .timeline-box .date,
.theme-color-33d685 .widget-title,
.theme-color-33d685 .widget_meta ul li a:hover,
.theme-color-33d685 .widget_archive ul li a:hover,
.theme-color-33d685 .widget_nav_menu ul li a:hover,
.theme-color-33d685 .widget_categories ul li a:hover,
.theme-color-33d685 .widget_recent_entries ul li a:hover,
.theme-color-33d685 .widget_recent_comments ul li a:hover,
.theme-color-33d685 .widget_search .search-form:before,
.theme-color-33d685 .widget-popuplar-posts .post-title a:hover,
.theme-color-33d685 .widget-recent-posts .post-title a:hover {
  color: #33d685; }
.theme-color-33d685 ins,
.theme-color-33d685 mark,
.theme-color-33d685 .btn-primary,
.theme-color-33d685 .btn-primary-outer,
.theme-color-33d685 .btn-sidebar-close,
.theme-color-33d685 .calendar-busy .calendar-body td .current-day,
.theme-color-33d685 .calendar-busy .calendar-today .date,
.theme-color-33d685 .filter .active:after,
.theme-color-33d685 .filter-bar .filter-bar-line,
.theme-color-33d685 .input-field .line:before,
.theme-color-33d685 .input-field .line:after,
.theme-color-33d685 .mobile-nav,
.theme-color-33d685 .nav > ul > li > a > span,
.theme-color-33d685 .post-datetime,
.theme-color-33d685 .profile-social,
.theme-color-33d685 .profile-preword span,
.theme-color-33d685 .progress-bar .bar-fill,
.theme-color-33d685 .progress-bar .bar-line:after,
.theme-color-33d685 .price-box.box-primary .btn,
.theme-color-33d685 .price-box.box-primary .price-box-top,
.theme-color-33d685 .profile-list dt.profile-vacation span,
.theme-color-33d685 .pagination .page-numbers.current,
.theme-color-33d685 .pagination .page-numbers.current:hover,
.theme-color-33d685 .pagination .page-numbers:active,
.theme-color-33d685 .pagination .page-numbers.next:active,
.theme-color-33d685 .pagination .page-numbers.prev:active,
.theme-color-33d685 .timeline-bar,
.theme-color-33d685 .timeline-box .dot,
.theme-color-33d685 .timeline-box-compact .date span,
.theme-color-33d685 .widget_tag_cloud a:hover {
  background-color: #33d685; }
.theme-color-33d685 .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
.theme-color-33d685 .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #33d685; }
.theme-color-33d685 .timeline-box-inner,
.theme-color-33d685 .price-box.box-primary .btn,
.theme-color-33d685 .widget_search .search-form,
.theme-color-33d685 .widget_tag_cloud a:hover {
  border-color: #33d685; }
.theme-color-33d685 .page-404 h2 span:before,
.theme-color-33d685 .profile-preword span:before,
.theme-color-33d685 .timeline-box-compact .date span:before {
  border-left-color: #33d685; }
.theme-color-33d685 .price-box.box-primary .price-box-top:before {
  border-top-color: #33d685; }
